%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'stylesheet', media: 'screen, projection', type: 'text/css', href: '/styles/bootstrap.min.css'}
    %link{rel: 'stylesheet', media: 'screen, projection', type: 'text/css', href: '/styles/bootstrap-select.min.css'}
    %link{rel: 'stylesheet', media: 'screen, projection', type: 'text/css', href: '/styles/custom.css'}
    %script{src: '/scripts/jquery-2.0.3.min.js'}
    %script{src: '/scripts/bootstrap.min.js'}
    %script{src: '/scripts/bootstrap-select.min.js'}
    %script{src: '/scripts/app.js'}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{href: '/'}
            Redis Monitor
        .collapse.navbar-collapse
          = content_menu(section)

    .container
      = yield
