%table.table.table-striped
  %thead
    %tr
      %th
        Student
      %th
        First name
      %th
        Last name
      %th
        Grade

  %tbody
    %tr
      %td
        Example
      %td
        Example
      %td
        Example
      %td
        Example

    %tr
      %td
        Example
      %td
        Example
      %td
        Example
      %td
        Example

    %tr
      %td
        Example
      %td
        Example
      %td
        Example
      %td
        Example


= info