%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        Action
      %th
        Value
      %th
        Every (seconds)
      %th
        Active
      %th
        Actions

  %tbody
    = render @tasks

%a.btn.btn-default{href: new_task_path}
  New task
