%table.table.table-striped
  %thead
    %tr
      %th
        Parameter
      %th
        Value

  %tbody
    - info.each do |parameter, value|
      %tr
        %td
          = parameter
        %td
          = value
