- search_term ||= nil

= choose_database_select(@databases)
%hr

%form{action: search_content_index_path, method: 'get', style: 'margin-top: 5px'}
  .form-group
    %label{for: 'input_key'}
      Introduce search terms (wildcards allowed)
    %input.form-control{type: 'text', id: 'input_key', name: 'key', placeholder: 'Search terms', value: search_term}
  .form-group
    %button{type: 'submit', class: remove_class}
      Search